/** haut de page **/

header{background-color:#434343;padding-bottom:13px; color:white;}

/** le bas de page **/

footer{background-color:#434343;padding-bottom:7px;padding-top:10px;}

/** La page Web **/

body{background-color:#3498db;}
.central{width:980px;margin:auto;background-color:white;margin-top:30px;}

/** Images **/

img{width:64px;height:64px;margin-left:10px;}
img.badr{float:right;width:138px;height:128px;vertical-align:top;border-radius:30px;margin-right:20px;}
img.facebook{border-radius:10px;}

/** les DIV **/

div.reseau{position:relative;margin-left:330px;}

/** le texte **/

p.badr{padding-left:20px;padding-top:10px;letter-spacing: 2px;font-size:18px;}

/** menu **/

*{margin:0;padding:0;}
nav		   {
			
			font-style:oblique;
			margin-top:60px;
			margin-bottom:60px;
			width:900px;
			height: auto;
			font-family:'Arial';
			margin-left:40px;	
			letter-spacing:2px;
			text-align: center;
}
.item label{
			display:block;
			padding:10px;
			background-color:#434343;
			font-size:20px;
			cursor:pointer;
			color:#fff;
			border-bottom: solid 2px #aaa;
}
.item label:hover{
			background-color:#f2673a;
			transition: .8s;
}
.item ul{
			width: 100%;
			list-style:none;
			overflow: hidden;
			max-height:0;
			transition: all .5s linear;
}
.item input{
			display:none;
}
.item ul li a{
			width:100%;
			height:auto;
			padding:10px;
			display:block;
			text-decoration:none;
			background-color:#fafafa;
			color:#333;
			border-bottom: solid 2px #aaa;
}

.item ul li a:hover{
			background-color:#9CF;
}

.item input:checked ~ ul{
			height: auto;
			max-height: 3000px;
			transform:all;
}

img.lcl{
	float:right;
}

img.lcl1{
	float:right;
	border-radius:10px;
}

p.texto{
	text-align:justify;
	width:880px;
	margin-bottom: 10px;
}

h3{margin-top:10px;}
